// If you want to override variables do it here
@import 'variables';

// Import styles
@import '@coreui/coreui/scss/coreui';

// Vendors
@import 'vendors/simplebar';

// Custom styles for this theme
@import 'theme';

// If you want to add custom CSS you can put it here
@import 'custom';
@import url(https://fonts.googleapis.com/css?family=Roboto:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');
.quiz-wrapper {
  height: calc(100vh - 80px - 80px);
  overflow-y: auto;
}
.sidebar-wrapper {
  height: calc(100vh - 60px - 80px);
}
.sidebar-brand {
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.quiz-header {
  background-color: #212631;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffffde;
}
.quiz-icons {
  color: #ffffffde;
  font-size: 30px;
}

.quiz-footer {
  background-color: #212631;
  margin: 0;
  padding: 20px;
  color: #ffffffde;
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
  position: fixed;
  bottom: 0;
  width: 100%;
}

// calculator styling
.calculator-index {
  z-index: 10 !important;
}

.css-h2okw {
  width: 300px !important;
  height: 400px !important;
}

.css-hayew9 {
  font-size: 6vmin !important;
}
.css-1txu9g8,
.css-9iwzto,
.css-166hzw5,
.css-1iypx3a,
.css-1uzr0i {
  font-size: 4vmin !important;
}

// notes style
.react-stickies-wrapper {
  z-index: 20;
}
.react-stickies-wrapper .add {
  //   display: none !important;
}
.react-stickies-wrapper {
  position: fixed !important;
  right: 0;
  bottom: 0;
  width: 250px !important;
  height: 250px !important;
}
.react-stickies-wrapper .note-body {
  height: 250px !important;
  overflow-y: auto !important;
}
/* width */
.react-stickies-wrapper .note-body::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.react-stickies-wrapper .note-body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}

/* Handle */
.react-stickies-wrapper .note-body::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
// .react-stickies-wrapper .note-body::-webkit-scrollbar-thumb:hover {
//   background: #b30000;
// }
.react-grid-item.cssTransforms {
  height: auto !important;
}

// new notes
.rs-notes--navbar,
.rs-notes--header--button__add,
.rs-notes--header--button__trash,
.rs-notes--header--button__hideshow {
  display: none !important;
}

.rs-notes {
  position: fixed !important;
  right: 0 !important;
  bottom: 0 !important;
  width: 300px !important;
  height: 300px !important;
  z-index: 50;
}
.rs-notes--note,
.rs-notes--note__body {
  width: 300px !important;
  height: 300px !important;
}

// alert
.success-alert {
  position: fixed;
  top: 10px;
  right: 5px;
  z-index: 10000;
}
.middle-alert {
  position: fixed;
  width: 400px;
  text-align: center;
  left: calc(50% - 200px);
  top: calc(50% - 100px);
  // top: 10px;
  // right: 5px;
  z-index: 10000;
}

.answer-stat-box {
  box-shadow: 0 1px 3px 0 rgba(10, 5, 5, 0.25);
}
.answer-stat-box .stat-icons {
  width: 1.8rem !important;
  height: 1.8rem !important;
}
mark {
  padding: 0 !important;
}

// quill editor
.ql-container,
.jodit-container:not(.jodit_inline) {
  border-bottom-left-radius: 0.37rem !important;
  border-bottom-right-radius: 0.37rem !important;
  background-color: #fefcfc !important;
  color: black;
}

/* Snow Theme */
.ql-snow.ql-toolbar,
.jodit-toolbar__box:not(:empty):not(:empty),
.jodit-toolbar__box:not(:empty) {
  display: block;
  background-color: #eaecec !important;
  border-top-left-radius: 0.37rem;
  border-top-right-radius: 0.37rem;
  border-radius: 0.37rem 0.37rem 0 0 !important;
}

//admin tables
.admin-tables,
.admin-tables td,
.admin-tables th {
  border: none;
  text-align: left;
  margin: 0px;
}

// tables
table,
table td,
table th {
  border: 1px solid;
  text-align: center;
  margin: 10px 0px;
}
.setting-toggle::after {
  display: none !important;
}

// .jodit-ui-group__delete,
// .jodit-ui-group__addrow {
//   display: none !important;
// }

// feedbacks
.snip1533 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  color: #9e9e9e;
  display: inline-block;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 16px;
  margin: 35px 10px 10px;
  position: relative;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
  border-radius: 5px;
  border-top: 5px solid #d2652d;
}

.snip1533 *,
.snip1533 *:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
}

.snip1533 figcaption {
  padding: 3% 5%;
}

.snip1533 figcaption:before {
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  color: #d2652d;
  content: '\f10e';
  font-family: 'FontAwesome';
  font-size: 32px;
  font-style: normal;
  left: 50%;
  line-height: 60px;
  position: absolute;
  top: -30px;
  width: 60px;
}

.snip1533 h3 {
  color: #3c3c3c;
  font-size: 20px;
  font-weight: 300;
  line-height: 24px;
  margin: 10px 0 5px;
}

.snip1533 h4 {
  font-weight: 400;
  margin: 0;
  opacity: 0.5;
}

.snip1533 blockquote {
  font-style: italic;
  font-weight: 300;
  margin: 0 0 20px;
}

// question accordion
.question-wrapper {
  border-bottom: 1px solid black;
  overflow: hidden;
}

.question-wrapper .question-container {
  width: 100%;
  text-align: left;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  font-size: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
}

.question-container.active {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}

.question-wrapper .question-container:hover {
  background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.04), transparent);
}

.question-wrapper .arrow {
  font-size: 2rem;
  transition: 0.2s ease-in-out;
}

.arrow.active {
  rotate: 180deg;
}

.question-wrapper .answer-container {
  padding: 0 1rem;
  transition: height 0.2s ease-in-out;
}

.question-wrapper .answer-content {
  padding: 1rem 0;
}
.progress-bar {
  width: 100%;
  background-color: whitesmoke;
  padding: 2px;
}
.progress-bar-fill {
  display: block;
  height: 40px;
  background-color: #65ef88;
  border-radius: 3px;
  width: 0%; /* Starts at 0%, updates with download progress */

  transition: width 30ms ease-in-out;
}

// start or end screen message
.goodluck {
  font-family: 'Borel', cursive;
}
.start-screen {
  margin: 0;
  position: absolute;
  top: 50%;
  right: 50%;
  -ms-transform: translateY(-50%, -50%);
  transform: translateY(-50%, -50%);
}

// sections css
.olcards,
.olcards * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.olcards {
  list-style: none;
  counter-reset: cardCount;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  --cardsGap: 1rem;
  gap: var(--cardsGap);
  padding-bottom: var(--cardsGap);
}
.olcards li {
  counter-increment: cardCount;
  display: flex;
  color: black;
  --labelOffset: 1rem;
  --arrowClipSize: 1.5rem;
  margin-top: var(--labelOffset);
}

.olcards li::before {
  content: counter(cardCount, decimal-leading-zero);
  background: #ebe9e9;
  color: black;
  font-size: 2em;
  font-weight: 700;
  transform: translateY(calc(-1 * var(--labelOffset)));
  margin-right: calc(-1 * var(--labelOffset));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline: 0.5em;
}

.olcards li .olcards-content {
  // background-color: #e5e7eb;
  --inlinePadding: 1em;
  --boxPadding: 0.5em;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 500px;
  padding: var(--boxPadding) calc(var(--inlinePadding) + var(--arrowClipSize)) var(--boxPadding)
    calc(var(--inlinePadding) + var(--labelOffset));
  clip-path: polygon(
    0 0,
    calc(100% - var(--arrowClipSize)) 0,
    100% 50%,
    calc(100% - var(--arrowClipSize)) 100%,
    calc(100% - var(--arrowClipSize)) calc(100% + var(--cardsGap)),
    0 calc(100% + var(--cardsGap))
  );
  position: relative;
}
.olcards li .olcards-content::before {
  content: '';
  position: absolute;
  width: var(--labelOffset);
  height: var(--labelOffset);
  background: #e5e7eb;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 0 100%);
  filter: brightness(0.75);
}
.olcards li .olcards-content::after {
  content: '';
  position: absolute;
  height: var(--cardsGap);
  width: var(--cardsGap);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 50%);
  left: 0;
  top: 100%;
}
.olcards li .olcards-content .olcards-title {
  font-size: 1.25em;
  /* font-weight: 700; */
}
.selector-margin-1,
.selector-margin-2 {
  margin: 0 160px;
}
.section-bg {
  background-color: #6261cc !important;
  color: #fff !important;
  font-weight: 600 !important;
  border-radius: 10px;
}

.bg-blue-hover {
  &:hover {
    background-color: #39f !important;
  }
}
.sidebar-nav .nav-group-items .nav-link:hover {
  background-color: #39f !important;
}

// pagination
.pagination {
  display: flex;
}
.pagination li a {
  // color: #000;
  width: 2.25rem;
  height: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .active-page-no,
.pagination .page-no:hover {
  background: #6261cc;
  color: white;
}

@media (max-width: $breakpoint-mobile) {
  .selector-margin-1 {
    margin: 0 0 0 16px;
  }
  .selector-margin-2 {
    margin: 0 16px;
  }
  .olcards li .olcards-content {
    width: 280px;
  }
  .middle-alert {
    z-index: 1000;
  }
}
